In [1]:
import os
import pandas as pd
data_folder = os.path.join(os.path.expanduser("~"), "Downloads", "ml-100k")
ratings_filename = os.path.join(data_folder, "u.data")

In [3]:
all_ratings = pd.read_csv(ratings_filename, delimiter="\t", header=None, names = ["UserID", "MovieID", "Rating", "Datetime"])
all_ratings["Datetime"] = pd.to_datetime(all_ratings['Datetime'],unit='s')
all_ratings.head()

   UserID  MovieID  Rating            Datetime
0     196      242       3 1997-12-04 15:55:49
1     186      302       3 1998-04-04 19:22:22
2      22      377       1 1997-11-07 07:18:36
3     244       51       2 1997-11-27 05:02:03
4     166      346       1 1998-02-02 05:33:16

In [4]:
all_ratings["Favorable"] = all_ratings["Rating"] > 3
all_ratings.head()

   UserID  MovieID  Rating            Datetime Favorable
0     196      242       3 1997-12-04 15:55:49     False
1     186      302       3 1998-04-04 19:22:22     False
2      22      377       1 1997-11-07 07:18:36     False
3     244       51       2 1997-11-27 05:02:03     False
4     166      346       1 1998-02-02 05:33:16     False

In [12]:
##first 200 users and favorable reviews
ratings = all_ratings[all_ratings['UserID'].isin(range(200))]
favorable_ratings = ratings[ratings["Favorable"]]

In [15]:
favorable_reviews_by_users = favorable_ratings.groupby(['MovieID','UserID'])